@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

h1, h2, h3, h4, h5, h6,
.sidebarblock > .content > .title {
  color: #005398;
  font-weight: bold;
}

#toctitle {
  color: #005398;
  font-weight: bold;
}

#content #toc {
    border: 1px solid #005398;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #ffffff;
    border-radius: 4px;
}

#header {
  border-bottom: 4px solid #005398;
  margin-top: 10px;
  color: #005398;
}

#header::before {
  content: "";
  display: block;
  height: 72px;
  background: url("images/wmo-logo-en.png") no-repeat left center;
  background-size: contain;
}

body {
  font-family: "Montserrat", sans-serif;
}
